<html>
    <head>
        <title>Accounts</title>
    </head>
    <body>
        <h1>Accounts</h1>
        <table border="1">
            <tr><th>Account ID</th><th>Email</th><th>First Name</th> <th>Last Name</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].account_id%></td>
                <td><a href="/account/?account_id=<%= result[i].account_id %>"><%= result[i].email %></a></td>
                <td><%= result[i].first_name %></td>
                <td><%= result[i].last_name%></td>
            </tr>
            <% } %>
        </table>
    </body>

</html>